VONAGE_APPLICATION_ID=
VONAGE_PRIVATE_KEY_PATH=./private.key
RCS_SENDER_ID=
RCS_TO_NUMBER=
RCS_CATEGORY=transaction
MESSAGES_API_URL=https://api.nexmo.com/v1/messages
DEFAULT_RCS_TEXT=Hello from Vonage RCS
