body, html {
  background-color: gray;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#videos {
  position: relative;
  display: flex;
  align-items: center;
}

#publisher-container {
  border: 3px solid white;
  border-radius: 3px;
  height: fit-content;
}
#publisher {
  width: 360px;
  height: 240px;
}
#publish-video-true {
  display: none;
}

#archiveLink > a {
  padding: 5px;
  background-color: white;
}